#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container div {
    flex-basis: 0%;
    aspect-ratio: 1 / 1;
    flex-grow: 0;
    flex-shrink: 0;
}

body {
    text-align: center;
}